# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# ==========================
# Frontend
# ==========================
node_modules/
dist/
build/

# ==========================
# Docker
# ==========================
*.pid


